footer {
	background-color: #00FF00;
    color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}


  1 footer {
  2     background-color:#00FF00;
  3     height: 60px;
  4     width: 100%;
  5     position: absolute;
  6     bottom: 0;
  7     display: flex;
  8     justify-content: center;
  9     align-items: center;
 10 }
~                             
